@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

html, body {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    color: #404040;
}

a {
    text-decoration: none;
}

.btn.btn-primary, .btn.btn-outline-primary {
    opacity: 0.8;
    box-shadow: 0 12px 24px -20px #000 !important;
}

span.required {
    color: #d9534f;
}



/*navbar*/
.topnav {
    top: 0;
    /* position: fixed; */
    width: 100% !important;
}
  
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e3e3f6;
    border-bottom: 1px solid #E5E5E5;
}
  
.topnav li {
    float: left;
}
  
.topnav li h4{
    padding: 18px 12px 10px 20px;
}
  
.topnav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}
  
.topnav li a:hover:not(.active) {
    /* background-color: #ddd; */
    color:#6366f1
}


/************** Section: Header *******************/

section {
    padding: 50px;
}

.header {
    background-color: #e3e3f6;
    background-image: url('../images/header-background.png');
    background-size: cover;
    background-position: center
    
    /* background-color: #e3e3f6; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b2b2e0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

}



.header-left {
    padding-bottom: 30px;
}

@media only screen and (min-width: 750px) {
    .header-left{
        padding: 80px 50px;
    }
}

a.btn {
    margin: 10px 5px;
}

.header ul {
    list-style: none;
    padding: 0;
}

.header li {
    padding-left: 1.5em;
}

.header li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: bold;
    margin-left: -1.5em; 
    width: 1.5em;
    color: cornflowerblue;
}

.btn-filled {
    background-color: #8080f7;
    color: #f0f0f0;
    border-radius: 20px;
    /* box-shadow: 0 12px 20px -10px #c4c3c3 !important; */
    padding: 7px 15px;
}

.btn-filled:hover {
    color: #f0f0f0;
    opacity: 0.9;
}

.btn-outlined {
    border-radius: 20px;
    /* box-shadow: 0 12px 20px -10px #c4c3c3 !important; */
    padding: 7px 15px;
    border: 2px solid #8080f7;
    color: #8080f7;
    background-color: #fff;
}

.btn-outlined:hover {
    background-color: #8080f7;
    color: #f0f0f0
}

/******************* Section: Design **********************/
.design {
    background-image: linear-gradient(rgba(227,227,246,1), rgba(227,227,246,0.2), rgba(227,227,246,0.2));
    padding-bottom: 100px
}

.design h1 {
    text-align: center;
    margin-bottom: 1.5em;
}

.design-form{
    border: 1px solid rgb(241 245 249);
	/* margin:30px 17vW 65px; */
    padding: 3em 4em 4em 4em;
    background-color: #fff;
    border-radius: 25px;
    max-width: 1000px
    /* box-shadow: 0 12px 24px -20px #000 !important; */
}

.form-group {
    margin-bottom: 30px !important;
}

label {
    font-weight: 600;
    margin-bottom: 7px;
    color: #404040
}

input.btn {
    margin: auto !important;
    padding: auto 20px;
    text-align: center;
    display:block;
    background-color: #6366f1 !important;
    border: 1px solid #6366f1
}


@media only screen and (max-width: 750px) {
    .design-form{
        /* width:60%; */
        margin:30px 1vW 65px;
    }
}

/**************** contact***********/
.contact {
    background-color: #eef2ff;
    font-size: 14px;
    padding-bottom: 30px !important;
    padding-top: 40px !important;
}

/* .mapouter iframe {
    margin: auto !important;
    display: block;
} */

.contact .row {
    width: 80%;
    margin: auto;
}

.contact .col-lg-4 {
    padding-left: 20px;
    padding-right: 20px;
}

section#shadow-host-companion {
    padding: 0 !important
}

/**************** footer ***********/
.footer {
    background-color: rgb(30 27 75);
    text-align: center;
    padding: 15px;
    color: #f0f0f0;
    font-size: 14px;
    opacity: 0.8;
}

/**************** spinner ***********/

#load{
    width:100%;
    height:100vH;
    position:fixed;
    z-index:9999;
    /* background-size: 30px auto !important;*/
    background:rgba(255, 255, 255, 0.8);

    position: fixed;
}

.spinner {
    --color: rgb(128 128 247);
    --fade-color: rgba(128 128 247 / 50%);
    --scale: 1;
    --x-speed: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 46px;
    height: 46px;
    margin: 46vH auto !important;
    transform: scale(var(--scale)) rotateZ(0);
    animation: ps-spin calc(15s / var(--x-speed)) linear infinite
}

@keyframes ps-spin {
    from {
        transform: scale(var(--scale)) rotateZ(0);
    }
    to {
        transform: scale(var(--scale)) rotateZ(-360deg);
    }
}

.spinner span {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.spinner span::before,
.spinner span::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%) scale(.3);
    background-color: rgba(var(--color) / 50%);
    border-radius: 50%;
    animation: ps-spinner-scale calc(1.2s / var(--x-speed)) linear infinite
}

@keyframes ps-spinner-scale {
    0% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
    25% {
        background-color: var(--color);
        transform: translateY(-50%) scale(1);
    }
    80% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
    100% {
        background-color: var(--fade-color);
        transform: translateY(-50%) scale(.3);
    }
}

.spinner span::before {
    left: 0;
}

.spinner span::after {
    right: 0;
}

.spinner span:first-of-type {
    transform: rotateZ(-45deg);
}

.spinner span:last-of-type {
    transform: rotateZ(45deg);
}

.spinner span:nth-of-type(2) {
    transform: rotateZ(90deg);
}

.spinner span:nth-of-type(3)::after {
    animation-delay: calc(0.15s / var(--x-speed));
}
.spinner span:last-of-type::after {
    animation-delay: calc(.3s / var(--x-speed));
}
.spinner span:nth-of-type(2)::after {
    animation-delay: calc(.45s / var(--x-speed));
}
.spinner span:first-of-type::before {
    animation-delay: calc(.6s / var(--x-speed));
}
.spinner span:nth-of-type(3)::before {
    animation-delay: calc(.75s / var(--x-speed));
}
.spinner span:last-of-type::before {
    animation-delay: calc(.9s / var(--x-speed));
}
.spinner span:nth-of-type(2)::before {
    animation-delay: calc(1.05s / var(--x-speed));
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

